<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/Index">Home</a></li>
                    <li><a href="/Category">Category</a></li>
                </ul>
            </nav>
        </header>
    @RenderBody()
        <footer>
            <p>Made with love in Iran</p>
            <p>CopyRight @DateTime.Now.Year</p>
        </footer>
    </body>
</html>