<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ViewData["Title"]</title>
    </head>
    <body>
        <header>
            <nav>
                <a>Home</a>
                <a>Category</a>
            </nav>
        </header>
        <h1>List of Tasks</h1>
        @RenderBody()
    </body>
</html>