@model TaskManagement.TaskModel
<div class = "Task">
    <h3>@Model.Title</h3>
    <p>@Model.Category</p>
    <p>@Model.Description</p>
    <p>a task</p>
    <p>@Model.DueDate.ToShortDateString()</p>
</div>
