@page 
@model TaskManagement.IndexModel
@{
    Layout = "shared/_MainLayout";
    ViewData["Title"] = "Home";
}
<h3>Title</h3>
<h3>Category</h3>
<h3>Description</h3>
<h3>Due Date</h3>
<ul class = "Tasks">
    
    @foreach (var task in Model.Tasks)
    {
      <li> @await Html.PartialAsync("/Pages/_Task.cshtml", task) </li>
    }
</ul>