@page 
@model TaskManagement.IndexModel
@{
    Layout = "shared/_MainLayout";
    ViewData["Title"] = "Home";
}
<ul class = "Tasks">
    <h3>Title</h3>
    <h3>Category</h3>
    <h3>Description</h3>
    <h3>Due Date</h3>
    @foreach (var task in Model.Tasks)
    {
        <p>a task </p>
        <partial name="/Pages/_Task" model= "task" />
    }
</ul>